*.iml
.gradle/
/local.properties
/.idea/
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
app/build/
build/

# KHÔNG bao giờ commit file keystore và mật khẩu thật lên git
*.jks
*.keystore
keystore.properties
